
.header__logo{
   max-width: 142px;
   min-height: 33.4px;
   margin-bottom: 40.6px;
   background-image: url(../../../images/Logo.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


@media screen and (max-width:768px) {
	.header__logo {
      padding-left: 27px;
      max-width: 103.74px;
      min-height: 24.4px;
      padding-bottom: 30.6px;
   }
}