.card__description{
   background-color: white;
   display: flex;
   min-height: 79px;
   justify-content: space-between;
   border-radius: 0 0 10px 10px;
   max-width: 282px;
}

@media screen and (max-width:740px){
   .card__description{
      min-width: 100%;
   }
}

