.card__image{
     display: block;
     object-fit: cover;
     border-radius: 10px 10px 0 0;
     width: 282px;
     height: 282px;
}






@media screen and (max-width: 485px) {
	.card__image{
		max-width: 100%;
	}
}

